/*------------------------------------
    #ROOT VARS
------------------------------------*/
:root {
    --base-size: 16;
    --redball: #e84516;
    --greenball: #9dc41a;
    --yellowball: #f2da00;
    --yellow-020: #f2da0033;
    --red-020: #e8451633;
}
