/*------------------------------------
    #BODY
------------------------------------*/
body{
    height                          : 100%;
    margin                          : 0;
    font-family                     : $font-primary;
    font-size                       : rem($size-primary);
    color                           : black;
}
